async-timeout==4.0.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.5
cryptography==3.4
decorator==4.4.2
docopt==0.6.2
et-xmlfile==1.1.0
fanstatic==1.2
idna==2.8
imageio==2.15.0
imageio-ffmpeg==0.4.8
importlib-metadata==4.8.3
importlib-resources==5.4.0
js==1.0
lxml==4.9.2
moviepy==1.0.3
numpy==1.19.5
opencv-contrib-python==3.3.0.10
openpyxl==3.0.10
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pipreqs==0.4.11
proglog==0.1.10
pycparser==2.21
PyExecJS==1.5.1
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
redis==4.3.5
requests==2.21.0
selenium==3.141.0
semantic-version==2.10.0
setuptools-rust==1.1.2
shutilwhich==1.1.0
six==1.16.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.24.3
WebOb==1.8.7
xlrd==2.0.1
yarg==0.1.9
zipp==3.6.0
